consultarVentas/Web References/wsVenta/wsVenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="buscarVentaPorEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarVentaPorEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarVentaPorEmpresaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarVentaPorFecha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fecha1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarVentaPorFechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarVentaPorFechaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="buscarVentaPorEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:buscarVentaPorEmpresa" />
  </wsdl:message>
  <wsdl:message name="buscarVentaPorEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:buscarVentaPorEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="buscarVentaPorFechaSoapIn">
    <wsdl:part name="parameters" element="tns:buscarVentaPorFecha" />
  </wsdl:message>
  <wsdl:message name="buscarVentaPorFechaSoapOut">
    <wsdl:part name="parameters" element="tns:buscarVentaPorFechaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsVentaSoap">
    <wsdl:operation name="buscarVentaPorEmpresa">
      <wsdl:input message="tns:buscarVentaPorEmpresaSoapIn" />
      <wsdl:output message="tns:buscarVentaPorEmpresaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarVentaPorFecha">
      <wsdl:input message="tns:buscarVentaPorFechaSoapIn" />
      <wsdl:output message="tns:buscarVentaPorFechaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsVentaSoap" type="tns:wsVentaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="buscarVentaPorEmpresa">
      <soap:operation soapAction="http://tempuri.org/buscarVentaPorEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarVentaPorFecha">
      <soap:operation soapAction="http://tempuri.org/buscarVentaPorFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsVentaSoap12" type="tns:wsVentaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="buscarVentaPorEmpresa">
      <soap12:operation soapAction="http://tempuri.org/buscarVentaPorEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarVentaPorFecha">
      <soap12:operation soapAction="http://tempuri.org/buscarVentaPorFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsVenta">
    <wsdl:port name="wsVentaSoap" binding="tns:wsVentaSoap">
      <soap:address location="https://localhost:44383/wsVenta.asmx" />
    </wsdl:port>
    <wsdl:port name="wsVentaSoap12" binding="tns:wsVentaSoap12">
      <soap12:address location="https://localhost:44383/wsVenta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>